setuptools
wheel
twine
pyyaml
pymunk>=6.0.0
numpy
scikit-image
pytest
matplotlib
gym
arcade
tripy
tqdm
torch
torchvision
tabulate
scapy
scikit-learn
polars
transformers
netifaces
dill
graphviz
torchview
xgboost
